<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kinect_support">

  <xacro:macro name="kinect_support" params="package parent *origin">
    <xacro:property name="prefix" value="kinect_support"/>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package}/urdf/mesh/kinect_support.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
    </link>
    <joint name="${prefix}_link_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

    <link name="pt_surface_link"/>
    <joint name="pt_surface_link_joint" type="fixed">
      <origin xyz="0.1 0.0 0.254" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}_link"/>
      <child link="pt_surface_link"/>
    </joint>

  </xacro:macro>

</robot>